name: SAL CI/CD

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: JDK 설치
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: gradlew 실행 권한 부여
        run: chmod +x ./gradlew

      - name: 도커 이미지 빌드
        run: ./gradlew bootBuildImage

      - name: AWS 자격 증명
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      - name: ECR에 로그인
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, and push image to ECR
        env:
          ECR_REGISTRY: ${{ steps.ecr-login.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: latest
        run: |
          docker tag docker.io/library/sal:0.0.1-SNAPSHOT $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

      - name: Amazon ECR 로그아웃
        run: docker logout ${{ steps.ecr-login.outputs.registry }}

  CD:
    name: EC2에 배포
    runs-on: ubuntu-latest
    needs: CI
    steps:
      - name: SSH(원격 접속)로 EC2에 접속하기
        uses: appleboy/ssh-action@v1.1.0
        env:
          ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
          IMAGE_TAG: latest
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
          RDS_USER: ${{ secrets.RDS_USER }}
          RDS_PASSWORD: ${{ secrets.RDS_PASSWORD }}
          RDS_ENDPOINT: ${{ secrets.RDS_ENDPOINT }}
          RDS_DBNAME: ${{ secrets.RDS_DBNAME }}
          JWT_SECRET_KEY: ${{ secrets.JWT_SECRET_KEY }}
          EMAIL: ${{ secrets.EMAIL }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        with:
          host: ${{ secrets.EC2_HOST }} # 원격 서버의 주석
          username: ${{ secrets.EC2_USERNAME }} # 인스턴스를 시작하는 데 사용되는 AMI에 정의된 사용자 이름
          key: ${{ secrets.EC2_KEY }} # 키페어 값
          script_stop: true
          envs: ECR_REPOSITORY, IMAGE_TAG, AWS_ACCOUNT_ID, AWS_REGION, RDS_USER, RDS_PASSWORD, RDS_ENDPOINT, RDS_DBNAME, JWT_SECRET_KEY, EMAIL, EMAIL_PASSWORD, SLACK_BOT_TOKEN, REDIS_HOST
          script: |
            docker stop SAL || true
            docker rm SAL || true
            
            aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com
            docker pull $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG
            
            docker run -m 1g -d --name SAL -p 8080:8080 \
              -e RDS_USER=$RDS_USER \
              -e RDS_PASSWORD=$RDS_PASSWORD \
              -e RDS_ENDPOINT=$RDS_ENDPOINT \
              -e RDS_DBNAME=$RDS_DBNAME \
              -e JWT_SECRET_KEY=$JWT_SECRET_KEY \
              -e EMAIL=$EMAIL \
              -e EMAIL_PASSWORD=$EMAIL_PASSWORD \
              -e SLACK_BOT_TOKEN=$SLACK_BOT_TOKEN \
              -e REDIS_HOST=$REDIS_HOST \
              -e AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID \
              -e AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY \
              $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:$IMAGE_TAG \